{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="esp-bloq"></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
    	<div class="col-md-10 offset-md-1  col-sm-8 offset-sm-2 col-10 offset-1 text-center">
        	Hola
    	</div>   
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="esp-bloq"></div>
        </div>
    </div>
</div>
{% endblock %}